<div>
  <div>
    {{#if showSignInButton}}
      <h5>Please sign-in to aquire an ID token</h5>
    {{else}}
      <h5>You have signed in</h5>  
    {{/if}}
  </div>
  <div>
    {{#if message}}
      <h5>{{message}}</h5>
    {{/if}}
  </div>
</div>
